<h2>I'm the WDI Index</h2>
<button data-ng-hide="newPic" data-ng-click="newPic = !newPic">Add New Pic</button>
<form data-ng-show="newPic" data-ng-submit="indexVm.create(); newPic = !newPic">

  <input placeholder="Photo URL" data-ng-model="indexVm.newPic.photo_url" />
  <input placeholder="Author" data-ng-model="indexVm.newPic.author" />
  <input placeholder="Body" data-ng-model="indexVm.newPic.body" />
  <button type="submit">Create</button>
</form>

<div data-ng-repeat="pic in indexVm.pics">
<p><a data-ui-sref="picShow({id: pic.id})"><img data-ng-src="{{pic.photo_url}}"></a></p>

</div>
